img{
    
    width:250px;
    border:2px solid blue;
}

body{
    background-color: antiquewhite;
    font-family:sans-serif;
}
.red {
    color:crimson; 
}

.Big_font{
    font-size:32px;
}

#special_Style{
    background-color: yellow;
    border:2px solid red;
}

.green{
    background-color: blue;
}

.green{
    background-color: brown;
}

